{% extends "admin_base.html" %}
{% load static %}

{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
	  <a href="#">資料管理</a>
	</li>
	<li class="breadcrumb-item active">課程管理</li>
</ol>

<div class="card mb-3">
	<div class="card-header">課程列表 ( <a id="place_add" href="#" data-toggle="modal" data-target="#course_add_modal"><i class="fa fa-plus"></i> 新增一門課程</a> )</div>
	<div class="card-body">
		<table class="table table-hover table-bordered m-0" id="courselist">
			<thead>
				<tr>
					<th style="width:15%;">課程名稱</th>
					<th style="width:10%;">課程類型</th>
					<th style="width:60%;">課程場地</th>
					<th style="width:5%;">年級</th>
					<th style="width:10%;">其他</th>
				</tr>
			</thead>
			<tbody>
				{% for course in courses %}
				<tr>
					<td>{{ course.course_name}}</td>
					<td>{{ course.course_type}}</td>
					<td>{{ course|places}}</td>
					<td>
						{% if course.course_grade == 1 %}一{% elif course.course_grade == 2 %}二{% endif %}</td>
					<td>
						<a class="course_modify" href="#" data-toggle="modal" data-target="#course_modify_modal" data-courseid="{{course.id}}">修改</a>
						<a class="course_del" href="#" data-toggle="modal" data-target="#course_del_modal" data-courseid="{{course.id}}">刪除</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


<!-- 刪除課程 Modal -->
<form action="/admin/data/courses/remove/" method="POST"> {% csrf_token %}
	<div class="modal fade" id="course_del_modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Warning</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					確定移除該課程？ <br>
					將會移除該課程所有開課相關資料。
				</div>
				<div class="modal-footer">
					<input type="hidden" name='courseid'>
					<button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
					<input type="submit" class="btn btn-primary" value="確定">
				</div>
			</div>
		</div>
	</div>
</form>
<!-- ./刪除課程 Modal -->



<!-- 修改課程 Modal -->
<form action="/admin/data/courses/modify/" method="POST"> {% csrf_token %}
	<div class="modal fade" id="course_modify_modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="max-width:50%;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">修改課程</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label for="courseName_modify" class="col-sm-3 col-form-label">課程名稱</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="courseName_modify" placeholder="課程名稱" name="courseName" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="courseType_modify" class="col-sm-3 col-form-label">課程類型</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="courseType_modify" placeholder="課程類型" name="courseType" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="courseGrade_modify" class="col-sm-3 col-form-label">年級</label>
						<div class="col-sm-9">
							<select id="courseGrade_modify" name="grade" class="form-control" required>
								<option value="" disabled selected>-年級-</option>
								<option value="1">大一</option>
								<option value="2">大二</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label>使用場地</label>
						<a href="#" id="choiceall_modify">全選</a> | <a href="#" id="cancelall_modify">全部取消</a>
						<div class="row m-1 py-2" style="border:1px solid black;">
							{% for place in places %}
								<div class="col-3 d-inline-block">
									<label class="checkbox-container">{{place.place}}
										<input type="checkbox" class="select-course-item" value="{{place.id}}" name="course_place">
										<span class="checkmark"></span>
									</label>
								</div>
							{% endfor %}
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<input type="hidden" name="courseid">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
					<input id="add_submit" type="submit" class="btn btn-primary" value="確定修改">
				</div>
			</div>
		</div>
	</div>
</form>
<!-- ./修改課程 Modal -->


<!-- 新增課程 Modal -->
<form action="/admin/data/courses/add/" method="POST"> {% csrf_token %}
	<div class="modal fade" id="course_add_modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="max-width:50%;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">新增課程</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label for="courseName" class="col-sm-3 col-form-label">課程名稱</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="courseName" placeholder="課程名稱" name="courseName" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="courseType" class="col-sm-3 col-form-label">課程類型</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="courseType" placeholder="課程類型" name="courseType" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="grade" class="col-sm-3 col-form-label">年級</label>
						<div class="col-sm-9">
							<select id="grade" name="grade" class="form-control" required>
								<option value="" disabled selected>-年級-</option>
								<option value="1">大一</option>
								<option value="2">大二</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label>使用場地</label>
						<a href="#" id="choiceall">全選</a> | <a href="#" id="cancelall">全部取消</a>
						<div class="row m-1 py-2" style="border:1px solid black;">
							{% for place in places %}
								<div class="col-3 d-inline-block">
									<label class="checkbox-container">{{place.place}}
										<input type="checkbox" class="select-course-item" value="{{place.id}}" name="course_place">
										<span class="checkmark"></span>
									</label>
								</div>
							{% endfor %}
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
					<input id="add_submit" type="submit" class="btn btn-primary" value="確定新增">
				</div>
			</div>
		</div>
	</div>
</form>
<!-- ./新增課程 Modal -->
{% endblock content %}

{% block style %}
<style>
	select:invalid { color: gray; }
</style>
{% endblock style %}

{% block script %}
<script>
	$(document).ready(function() {
		$("form").each(function(i){
			$(this).attr('action', rootURL + $(this).attr('action'));
		});
		$('#courselist').DataTable({
			ordering:false
		});
		$("#courselist").on('click', 'a.course_del', function(){
			$("#course_del_modal .modal-footer input[name='courseid']").attr('value', $(this).data('courseid'));
		})

		$("#courselist").on('click', 'a.course_modify', function(){
			$("#course_modify_modal .modal-footer input[name='courseid']").attr('value', $(this).data('courseid'));
			$.ajax({
				url : rootURL + '/admin/courses_place/',
				type: "GET",
				data: {'courseid':$(this).data('courseid')},
				dataType: 'json',
				success: function(res){
					$("#courseName_modify").val(res['name']);
					$("#courseType_modify").val(res['type']);
					$("#courseGrade_modify").val(res['grade']);
					res['place'].forEach((arg)=>{
						$("#course_modify_modal input[value="+arg+"]").prop('checked', true);
					})
				}
			});
		})

		$("#choiceall_modify").click(function(){
			$("#course_modify_modal input[name=course_place]").prop('checked', true)
			event.preventDefault();
		});
		$("#cancelall_modify").click(function(){
			$("#course_modify_modal input[name=course_place]").prop('checked', false)
			event.preventDefault();
		});
		$("#choiceall").click(function(){
			$("#course_add_modal input[name=course_place]").prop('checked', true)
			event.preventDefault();
		});
		$("#cancelall").click(function(){
			$("#course_add_modal input[name=course_place]").prop('checked', false)
			event.preventDefault();
		});
	});
</script>
{% endblock script %}