{% extends "admin_base.html" %}
{% load static %}
{% load app_getcontent_filter %}

{% block content %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">目前排課狀況</a>
    </li>
    {# <li class="breadcrumb-item active">My Dashboard</li> #}
  </ol>
  <div class="row px-5" id="course_open_status">
    <div class="col-12 head_info mb-3" style="min-height:150px; background-color:blanchedalmond;" >
      <div style="min-width:279px;">
        已開設課程：
        {% for grade in open_course_grade %}
          {{grade.grade}}：{{grade.num}}　
        {% endfor %}
      </div>
      <br>
      {% for day in open_course_perday %}
      <div class="d-inline-block mx-1" style="min-width:19%">
        <table class="table" style="border-color:black;">
          <tbody style="border-bottom-color:black;">
            <tr><td colspan="5" style="border-top-color:black;">{% cycle '一' '二' '三' '四' '五' %}</td></tr>
            <tr>
              <td></td>
              <td>應開<br>班數</td>
              <td>已開<br>班數</td>
              <td>剩餘<br>班數</td>
            </tr>
            <tr>
              <td>大一</td>
              <td>{{day.grade1.need}}</td>
              <td>{{day.grade1.open}}</td>
              <td>{{day.grade1.need|sub:day.grade1.open}}</td>
            </tr>
            <tr>
              <td>二男</td>
              <td>{{day.grade2_boy.need}}</td>
              <td>{{day.grade2_boy.open}}</td>
              <td>{{day.grade2_boy.need|sub:day.grade2_boy.open}}</td>
            </tr>
            <tr>
              <td>二女</td>
              <td>{{day.grade2_girl.need}}</td>
              <td>{{day.grade2_girl.open}}</td>
              <td>{{day.grade2_girl.need|sub:day.grade2_girl.open}}</td>
            </tr>
            <tr>
              <td>合計</td>
              <td>{{day.need_total}}</td>
              <td>{{day.total}}</td>
              <td>{{day.need_total|sub:day.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endfor %}

    </div>
  </div>
  <div class="row">
    {# <div class="col-1"></div> #}
    <div id="arrange_table" class="col-12 px-5" style="overflow-x:auto;">
      <table class="table">
        <thead>
          <tr>
            <th rowspan="2" class="table-header" style="width:10%; border-top:1px solid black; border-bottom:1px solid black;">職稱</th>
            <!-- <th rowspan="2">姓名</th> -->
            <th class="table-header" style="border-top:1px solid black;">星期</th>
            <th colspan="5" class="table-header">一</th>
            <th colspan="5" class="table-header">二</th>
            <th colspan="5" class="table-header">三</th>
            <th colspan="5" class="table-header">四</th>
            <th colspan="5" class="table-header">五</th>
          </tr>
          <tr>
            <th class="table-header" style="border-bottom:1px solid black;">
              <div class="slash">
                <div class="slash01">姓名</div>
                <div class="slash02">節次</div>
              </div>
            </th>
            {% for _ in range5 %}
              {% for _ in range5 %}
                <th class="table-th-width table-header" style="border-bottom:1px solid black;">
                  {% cycle '一二' '三四' '五六' '七八' '九十' %}
                </th>
              {% endfor %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for teacher in teacher_info %}
          {% if forloop.last %}
            <tr id="user_{{ teacher.userid.id }}" style="border-bottom:1px solid black;">
              <td style="border-bottom-color:black;" class="row-first">
                {{ teacher.title_teacher }} 
                {% if teacher.isdirector %}
                  <br>兼主任
                {% endif %}
              </td>
              <td class="row-first">{{ teacher }}</td>
              <td class='table-sm-font table-content' style="border-left-color:black; border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-right-color:black; border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-right-color:black; border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-right-color:black; border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-right-color:black; border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
              <td class='table-sm-font table-content' style="border-bottom-color:black;"></td>
            </tr>
            {% else %}
            <tr id="user_{{ teacher.userid.id }}">
              <td class="row-first">
                {{ teacher.title_teacher }} 
                {% if teacher.isdirector %}
                  <br>兼主任
                {% endif %}
              </td>
              <td class="row-first">{{ teacher }}</td>
              <td class='table-sm-font table-content' style="border-left-color:black"></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content' style="border-right-color:black"></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content' style="border-right-color:black"></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content' style="border-right-color:black"></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content' style="border-right-color:black"></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
              <td class='table-sm-font table-content'></td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}


{% block style %}
<style>
  table .table-header{
    border-top:1px solid black;
    background-color: #fcffcc;
  }

  table .row-first {
    background-color: #00ff7230;
  }

  table .table-content {
    background-color: #e0fffa;
  }

  table thead th, table tbody td {
    vertical-align: middle!important;
    text-align: center!important;
    border-top-color: #81818275;
  }
  tbody {
    border-bottom: 1px solid #dee2e6;
  }
  .slash{
    position:relative;
    width:100px;
    height:40px;
    box-sizing:border-box;
    line-height:120px;
    background: linear-gradient(45deg, transparent 49.5%, #212121 49.5%, transparent 50.5%, transparent 50.5%);
  }
  .slash01{
    position: absolute;
    top: -35px;
  }
  .slash02{
    position: absolute;
    top: -60px;
    left: 60px;
  }

  #arrange_table td.table-sm-font{
    font-size: 0.9rem;
    padding: 2px;
    border: 1px solid #dee2e6;
  }

</style>
{% endblock style %}

{% block script %}
<script>
  $(document).ready(function(){
    $.ajax({
      url : rootURL + '/content/arrange_table/',
      type : 'GET',
      dataType:'json',
      success : function (res) {
        res['course_data'].forEach((d)=>{
          rowID = '#user_' + d['userid']
          h_text = [];
          if (d['course_for'])
            h_text.push(d['course_for']);
          
          if(d['course_type'])
            h_text.push(d['course_type']);

          if(d['course_place'])
            h_text.push(d['course_place']);
        
          $(rowID).find("td").eq(d['course_time']+1).html(h_text.join("<br>"))
          
        })
      }
    });
  });
</script>
{% endblock script %}